h2{
    text-align: center;
}
.bold-line{
    border: 1px solid rgb(94, 89, 89);
    width: 100%;
}
table,th,td{
    border: 2px solid black;
}
table{
    width: 100%;

}
.table-headers{
    background-color: yellow;
    text-align: right;
}
.footer-row{
    text-align: center;
}